* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    width: 100vw;
    background-color: darkslategray;
    /* background-image: url('./memphis-pattern/810.jpg'); */
    background-size: cover;
    background-repeat: repeat;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header {
    padding: 2rem;
    background-color: aliceblue;
    border-radius: 2rem;
    color: #222;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.gamebox {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: auto;
    height: auto;
    border: .2rem solid whitesmoke;
}

button {
    cursor: pointer;
    font-size: 3rem;
    background-color: orange;
    border: .2rem solid #222;
    border-radius: 2rem;
}

.userButton.selected {
    outline: .2rem solid yellow;
}

#play {
    margin-left: 2rem;
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: aliceblue;
}

div>p {
    padding: 3rem;
    background-color: green;
    border-radius: 2rem;
    color: whitesmoke;
}