* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
    background-image: none;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.gamebox {
    background-color: #222;
    color: whitesmoke;
    width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    font-size: 5rem;
    background-color: orange;
}

button.selected {
    outline: .2rem solid yellow;
}

footer {
    margin-top: auto;
}

div>p {
    padding: 3rem;
    text-align: center;
    background-color: green;
    color: whitesmoke;
}