@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Righteous&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    width: 100vw;
    background-color: darkslategray;
    /* background-image: url('./memphis-pattern/810.jpg'); */
    background-size: cover;
    background-repeat: repeat;
    align-items: center;
    justify-content: center;
    font-family: 'Questrial', sans-serif;
    text-align: center;
}
header {
    margin-top: 2rem;
    padding: 2rem;
    background-color: bisque;
    border-radius: 2rem;
    color: #222;
    font-family: 'Righteous', cursive;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.gamebox {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: auto;
    height: auto;
}

.userButtonsBox {
    display: flex;
    gap: 1rem;
}

button {
    width: 6rem;
    cursor: pointer;
    font-size: 3rem;
    background-color: orange;
    border: .2rem solid #222;
    border-radius: 2rem;
}

.userButton.selected {
    outline: .2rem solid yellow;
}

#play {    
    width: auto;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
}

div>p {
    padding: 2rem;
    background-color: bisque;
    border-radius: 2rem;
    color: #222;
}

div>p.win {
    background-color: green;
}

div>p.lose {
    background-color: red;
}

div>p.draw {
    background-color: blueviolet;
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: bisque;
}