* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url(./bg-img.jpg);
    background-color: antiquewhite;
    background-repeat: repeat;
    background-size: cover;
    color: #84D2C5;
}

h1 {
    padding: 3rem;
    text-align: center;
}

.gamebox {
    background-color: whitesmoke;
    border: 2rem solid #E4C988;
    width: auto;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

label {
    display: block;
}

button {
    display: block;
    width: fit-content;
    cursor: pointer;
}

footer {
    padding: 2rem;
    margin-top: auto;
    color: #B05A7A;
}
a {
    font-weight: bold;
    text-decoration: none;
    color: #B05A7A;
}