* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    padding: 3rem;
}
.gamebox {
    background-color: whitesmoke;
    outline: 5px solid red;
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
}

form {
    width: auto;
    height: auto;
}
label {
    display: block;
}

button {
    display: block;
    cursor: pointer;
}